################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/final_project/.vs/final_project/FileContentIndex/37422202-12d8-457a-a373-a34a9d5189e1.vsidx
